@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-image: url(https://wallpapercave.com/wp/UDNXQGZ.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8), -3px 0px 7px rgba(81, 67, 21, 0.8), 0px 4px 7px rgba(81, 67, 21, 0.8);
}

.top-nav {
    width: 100%;
    padding: 10px;
}

h1 {
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 40px;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search>input {
    width: 40%;
    border: none;
    padding: 10px;
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: bolder;
    color: white;
    text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8), -3px 0px 7px rgba(81, 67, 21, 0.8), 0px 4px 7px rgba(81, 67, 21, 0.8);
    border-radius: 10px;
    background-color: rgba(3, 22, 5, 0.384);
    box-shadow: inset 0 0 10px 0px rgb(230, 236, 230);
}

.search>input:focus {
    outline: none;
}

.search>input::placeholder {
    color: cornsilk;
    font-size: 15px;
    text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8), -3px 0px 7px rgba(81, 67, 21, 0.8), 0px 4px 7px rgba(81, 67, 21, 0.8);
}


.card {
    width: 40%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px 80px;
    text-align: center;
    background-color: rgba(3, 22, 5, 0.384);
    box-shadow: inset 0 2px 15px 1px rgb(230, 236, 230);
    color: white;
    border-radius: 10px;
}

.weather-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}